.desktop-1-bXZ {
  background-color: #ffffff;
  box-sizing: border-box;
  height: 102.4rem;
  overflow: hidden;
  padding: 8.4rem 24.8rem 1.2rem 24.1rem;
  position: relative;
  width: 100%;

  .item--yo1 {
    height: 100%;
    position: relative;
    width: 100%;

    .group-3-VWT {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 32.5rem;
      left: 51.5rem;
      position: absolute;
      top: 0;
      width: 19.3rem;

      .frame-1-zCK {
        flex-shrink: 0;
        height: 27.5rem;
        margin-bottom: 2rem;
        overflow: hidden;
        position: relative;
        width: 100%;

        .image-1-WwM {
          height: 34.3rem;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 23.1rem;
        }
        .frame-2-e1y {
          height: 34.3rem;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 19.3rem;
        }
      }
      .item-7--aRR {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        justify-content: center;
        line-height: 1.2125;
        margin-right: 0.1rem;
        white-space: nowrap;
      }
    }
    .group-4-ooy {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 32.5rem;
      left: 24.3rem;
      position: absolute;
      top: 0;
      width: 19.3rem;

      .frame-1-vNo {
        flex-shrink: 0;
        height: 27.5rem;
        margin-bottom: 2rem;
        overflow: hidden;
        position: relative;
        width: 100%;

        .image-1-4E7 {
          height: 34.3rem;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 23.1rem;
        }
        .frame-2-Q35 {
          height: 34.3rem;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 19.3rem;
        }
        .image-4-Yuy {
          height: 36.2rem;
          left: -22.9rem;
          object-fit: cover;
          position: absolute;
          top: -0.8rem;
          vertical-align: top;
          width: 49.3rem;
        }
      }
      .item-6--gFV {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        justify-content: center;
        line-height: 1.2125;
        margin-right: 0.1rem;
        white-space: nowrap;
      }
    }
    .group-8-xD1 {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 32.5rem;
      left: 0.1rem;
      position: absolute;
      top: 9.1rem;
      width: 19.3rem;

      .frame-1-gPu {
        flex-shrink: 0;
        height: 27.5rem;
        margin-bottom: 2rem;
        overflow: hidden;
        position: relative;
        width: 100%;

        .image-1-Dej {
          height: 34.3rem;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 23.1rem;
        }
        .frame-2-N1q {
          height: 34.3rem;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 19.3rem;
        }
        .image-8-JRH {
          height: 33.7rem;
          left: -19.4rem;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 61.9rem;
        }
      }
      .item-4--dyM {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        justify-content: center;
        line-height: 1.2125;
        margin-right: 0.1rem;
        white-space: nowrap;
      }
    }
    .group-5-YaX {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 32.5rem;
      left: 0;
      position: absolute;
      top: 45.7rem;
      width: 19.3rem;

      .frame-1-teP {
        flex-shrink: 0;
        height: 27.5rem;
        margin-bottom: 2rem;
        overflow: hidden;
        position: relative;
        width: 100%;

        .image-1-qZd {
          height: 34.3rem;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 23.1rem;
        }
        .frame-2-zBd {
          height: 34.3rem;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 19.3rem;
        }
        .image-6-LWP {
          height: 39.8rem;
          left: -14.7rem;
          object-fit: cover;
          position: absolute;
          top: -3.9rem;
          vertical-align: top;
          width: 57.6rem;
        }
      }
      .item-5--eX5 {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        justify-content: center;
        line-height: 1.2125;
        margin-right: 0.1rem;
        white-space: nowrap;
      }
    }
    .group-2-xGs {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 32.5rem;
      left: 75.8rem;
      position: absolute;
      top: 45.7rem;
      width: 19.3rem;

      .frame-1-GoM {
        flex-shrink: 0;
        height: 27.5rem;
        margin-bottom: 2rem;
        overflow: hidden;
        position: relative;
        width: 100%;

        .image-1-pZy {
          height: 34.3rem;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 23.1rem;
        }
        .frame-2-ZnT {
          height: 34.3rem;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 19.3rem;
        }
        .image-5-XDV {
          height: 36.3rem;
          left: -10.7rem;
          object-fit: cover;
          position: absolute;
          top: -1.2rem;
          vertical-align: top;
          width: 52.4rem;
        }
      }
      .item-8--A1Z {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        justify-content: center;
        line-height: 1.2125;
        margin-right: 0.1rem;
        white-space: nowrap;
      }
    }
    .group-1-ruy {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 32.5rem;
      left: 73.8rem;
      position: absolute;
      top: 9.1rem;
      width: 19.3rem;

      .frame-1-CU3 {
        flex-shrink: 0;
        height: 27.5rem;
        margin-bottom: 2rem;
        overflow: hidden;
        position: relative;
        width: 100%;

        .image-1-MLw {
          height: 34.3rem;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 23.1rem;
        }
        .frame-2-J1H {
          height: 34.3rem;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 19.3rem;
        }
        .image-2-qmu {
          height: 36.9rem;
          left: -26.1rem;
          object-fit: cover;
          position: absolute;
          top: -1.3rem;
          vertical-align: top;
          width: 52.2rem;
        }
      }
      .item-9--NG3 {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        justify-content: center;
        line-height: 1.2125;
        margin-right: 0.1rem;
        white-space: nowrap;
      }
    }
    .group-7-fW3 {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 32.5rem;
      left: 51.5rem;
      position: absolute;
      top: 60.3rem;
      width: 19.3rem;

      .frame-1-vRy {
        flex-shrink: 0;
        height: 27.5rem;
        margin-bottom: 2rem;
        overflow: hidden;
        position: relative;
        width: 100%;

        .image-1-sc7 {
          height: 34.3rem;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 23.1rem;
        }
        .frame-2-1yD {
          height: 34.3rem;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 19.3rem;
        }
        .image-7-mxP {
          height: 29.1rem;
          left: -0.3rem;
          object-fit: cover;
          position: absolute;
          top: -0.7rem;
          vertical-align: top;
          width: 20rem;
        }
      }
      .item-2--Wf5 {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        justify-content: center;
        line-height: 1.2125;
        margin-right: 0.1rem;
        white-space: nowrap;
      }
    }
    .group-6-2tK {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 32.5rem;
      left: 24.3rem;
      position: absolute;
      top: 59.9rem;
      width: 19.3rem;

      .frame-1-y2s {
        flex-shrink: 0;
        height: 27.5rem;
        margin-bottom: 2rem;
        overflow: hidden;
        position: relative;
        width: 100%;

        .image-1-KMd {
          height: 34.3rem;
          left: 0;
          object-fit: cover;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 23.1rem;
        }
        .frame-2-s8F {
          height: 34.3rem;
          left: 0;
          overflow: hidden;
          position: absolute;
          top: 0;
          width: 19.3rem;
        }
        .image-3-crX {
          height: 30.4rem;
          left: -18.7rem;
          object-fit: cover;
          position: absolute;
          top: -1.4rem;
          vertical-align: top;
          width: 43.3rem;
        }
      }
      .item-3--LnX {
        align-items: center;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        justify-content: center;
        line-height: 1.2125;
        margin-right: 0.1rem;
        white-space: nowrap;
      }
    }
    .hello-whom-to-call-rVy {
      align-items: center;
      color: #000000;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 400;
      height: 5.9rem;
      justify-content: center;
      left: 39.9rem;
      line-height: 1.2125;
      position: absolute;
      top: 39.8rem;
      width: 16rem;
    }
  }
}