label{
  font-size: 25px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p.fs-1{
  font-family: 'Nanum Gothic' !important;
}

.btn-primary{
  padding: 8px 15px;
}
.btn-primary a {
  color: white;
}

.bg-holder {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-size {
  width: 100%;
  height: 100%;
}

.btn-group {
  white-space: nowrap;
}

.btn {
  white-space: nowrap;
}

.btn.btn-sm {
  font-family: 'Nanum Gothic';
  display: flex;
  white-space: nowrap;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 25px;

}

