.navbar-brand{
  font-size: 30px;
}

.home{
    background: url(../images/home.jpg) no-repeat scroll  center center;
    background-size: cover;
    position: relative;
    padding-top: 300px;
    padding-bottom: 190px;
    width:100%;
}

.business_btn {
    display: flex;
    justify-content: space-between;
  }
  
  .business_btn a {
    flex: 1;
    margin-right: 10px;
  }

  