h1 {
    white-space: nowrap;
  }

h2{
    font-family: 'Nanum Gothic';
    font-size: 20px;
 }

h4{
    font-family: 'Nanum Gothic';
}

p.fs-0{
    font-family: 'Nanum Gothic' !important;
  }

.btn.btn-sm {
    font-family: 'Nanum Gothic' !important;
}

#userName {
    display: flex;
    align-items: center;
  }
  
  #userName .btn-default {
    margin-left: 10px;
  }
  