{% load static %}
<!doctype html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Big Project</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->

    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700&amp;family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "assets/vendor/css/core.css" class="template-customizer-core-css" %}" />
    <link href="{% static "assets/css/theme.css" %}" rel="stylesheet" />
    <link href="{% static "assets/css/my.css" %}" rel="stylesheet" />
    <link href="{% static "assets/css/board.css" %}" rel="stylesheet" />

  </head>
<body>
    <main class="main" id="top">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="light">
          <div class="container"><label><a href="/"><strong>Consulting</strong></a></label>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-center">
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link px-3" href="/">home</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user.username }}</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                      <li><a class="dropdown-item" href="/mypage/">마이페이지</a></li>
                      <li><a class="dropdown-item" href="/mypage/">내 정보 수정</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link pl-3 me-3" href="/accounts/logout/">logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link px-3" href="/">home</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="/accounts/login/">login</a></li>
                <button class="btn btn-primary"><a href="/accounts/signup/">Sign Up</a></button>
                {% endif %}
              </ul>            
            </div>
          </div>
        </nav>
    <div class="tab-wrap">
                  <div class="nav-align-top mb-4">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <button
                          type="button"
                          class="nav-link active"
                          role="tab"
                          data-bs-toggle="tab"
                          data-bs-target="#navs-top-home"
                          aria-controls="navs-top-home"
                          aria-selected="true"
                        >
                          FAQ
                        </button>
                      </li>
                      <li class="nav-item">
                        <button
                          type="button"
                          class="nav-link"
                          role="tab"
                          data-bs-toggle="tab"
                          data-bs-target="#navs-top-profile"
                          aria-controls="navs-top-profile"
                          aria-selected="false"
                        >
                          Inquiry
                        </button>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade show active" id="navs-top-home" role="tabpanel">

                        <!-- {% for p in posts_faq %}
                        <div class="col-md mb-4 mb-md-0">
                            <div class="accordion mt-3" id="accordionExample">
                              <div class="card accordion-item active">
                                <h2 class="accordion-header" id="headingOne">
                                  <button
                                    type="button"
                                    class="accordion-button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordionOne"
                                    aria-expanded="true"
                                    aria-controls="accordionOne"
                                  >
                                  {{ p.title }}
                                  </button>
                                </h2>
          
                                <div
                                  id="accordionOne"
                                  class="accordion-collapse collapse show"
                                  data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    {{ p.detail }}
                                  </div>
                                </div>
                              </div>
                              {% endfor %} -->

                        <div class="col-md mb-4 mb-md-0">
                            <div class="accordion mt-3" id="accordionExample">
                              <div class="card accordion-item active">
                                <h2 class="accordion-header" id="headingOne">
                                  <button
                                    type="button"
                                    class="accordion-button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordionOne"
                                    aria-expanded="true"
                                    aria-controls="accordionOne"
                                  >
                                    Q. 상담을 받고 싶어요.
                                  </button>
                                </h2>
          
                                <div
                                  id="accordionOne"
                                  class="accordion-collapse collapse show"
                                  data-bs-parent="#accordionExample">
                                  <div class="accordion-body">
                                    Lemon drops chocolate cake gummies carrot cake chupa chups muffin topping. Sesame snaps icing
                                    marzipan gummi bears macaroon dragée danish caramels powder. Bear claw dragée pastry topping
                                    soufflé. Wafer gummi bears marshmallow pastry pie.
                                  </div>
                                </div>
                              </div>
                              <div class="card accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                  <button
                                    type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordionTwo"
                                    aria-expanded="false"
                                    aria-controls="accordionTwo"
                                  >
                                    Q. 번역 시스템은 어떻게 이용하나요?
                                  </button>
                                </h2>
                                <div
                                  id="accordionTwo"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="headingTwo"
                                  data-bs-parent="#accordionExample"
                                >
                                  <div class="accordion-body">
                                    Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
                                    dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
                                    Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.
                                  </div>
                                </div>
                              </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                  <button
                                    type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordionThree"
                                    aria-expanded="false"
                                    aria-controls="accordionThree"
                                  >
                                    Q. 폭언을 사용하면 어떻게 되나요?
                                  </button>
                                </h2>
                                <div
                                  id="accordionThree"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="headingThree"
                                  data-bs-parent="#accordionExample"
                                >
                                  <div class="accordion-body">
                                    Oat cake toffee chocolate bar jujubes. Marshmallow brownie lemon drops cheesecake. Bonbon
                                    gingerbread marshmallow sweet jelly beans muffin. Sweet roll bear claw candy canes oat cake
                                    dragée caramels. Ice cream wafer danish cookie caramels muffin.
                                  </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="heading4">
                                  <button
                                    type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordion4"
                                    aria-expanded="false"
                                    aria-controls="accordion4"
                                  >
                                    Q. 회원가입이 안돼요.
                                  </button>
                                </h2>
                                <div
                                  id="accordion4"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="heading4"
                                  data-bs-parent="#accordionExample"
                                >
                                  <div class="accordion-body">
                                    Oat cake toffee chocolate bar jujubes. Marshmallow brownie lemon drops cheesecake. Bonbon
                                    gingerbread marshmallow sweet jelly beans muffin. Sweet roll bear claw candy canes oat cake
                                    dragée caramels. Ice cream wafer danish cookie caramels muffin.
                                  </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="heading5">
                                  <button
                                    type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordion5"
                                    aria-expanded="false"
                                    aria-controls="accordion5"
                                  >
                                    Q. 비밀번호를 까먹었어요.
                                  </button>
                                </h2>
                                <div
                                  id="accordion5"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="heading5"
                                  data-bs-parent="#accordionExample"
                                >
                                  <div class="accordion-body">
                                    Oat cake toffee chocolate bar jujubes. Marshmallow brownie lemon drops cheesecake. Bonbon
                                    gingerbread marshmallow sweet jelly beans muffin. Sweet roll bear claw candy canes oat cake
                                    dragée caramels. Ice cream wafer danish cookie caramels muffin.
                                  </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="heading6">
                                  <button
                                    type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordion6"
                                    aria-expanded="false"
                                    aria-controls="accordion6"
                                  >
                                    Q. 상담 신청을 잘못했어요.
                                  </button>
                                </h2>
                                <div
                                  id="accordion6"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="heading6"
                                  data-bs-parent="#accordionExample"
                                >
                                  <div class="accordion-body">
                                    Oat cake toffee chocolate bar jujubes. Marshmallow brownie lemon drops cheesecake. Bonbon
                                    gingerbread marshmallow sweet jelly beans muffin. Sweet roll bear claw candy canes oat cake
                                    dragée caramels. Ice cream wafer danish cookie caramels muffin.
                                  </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="heading7">
                                  <button
                                    type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordion7"
                                    aria-expanded="false"
                                    aria-controls="accordion7"
                                  >
                                    Q. 상담 신청이 안돼요.
                                  </button>
                                </h2>
                                <div
                                  id="accordion7"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="heading7"
                                  data-bs-parent="#accordionExample"
                                >
                                  <div class="accordion-body">
                                    Oat cake toffee chocolate bar jujubes. Marshmallow brownie lemon drops cheesecake. Bonbon
                                    gingerbread marshmallow sweet jelly beans muffin. Sweet roll bear claw candy canes oat cake
                                    dragée caramels. Ice cream wafer danish cookie caramels muffin.
                                  </div>
                                </div>
                            </div>
                            <div class="card accordion-item">
                                <h2 class="accordion-header" id="heading8">
                                  <button
                                    type="button"
                                    class="accordion-button collapsed"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#accordion8"
                                    aria-expanded="false"
                                    aria-controls="accordion8"
                                  >
                                    Q. 14조는 왜이렇게 잘할까요?
                                  </button>
                                </h2>
                                <div
                                  id="accordion8"
                                  class="accordion-collapse collapse"
                                  aria-labelledby="heading8"
                                  data-bs-parent="#accordionExample"
                                >
                                  <div class="accordion-body">
                                    Oat cake toffee chocolate bar jujubes. Marshmallow brownie lemon drops cheesecake. Bonbon
                                    gingerbread marshmallow sweet jelly beans muffin. Sweet roll bear claw candy canes oat cake
                                    dragée caramels. Ice cream wafer danish cookie caramels muffin.
                                  </div>
                                </div>
                            </div>
                            </div>
                          </div>

                      </div>
                      <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
                        <div class="tab-table">

                            <div class="card">
                                <div class="table-responsive text-nowrap">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>NO</th>
                                        <th>TITILE</th>
                                        <th>WRITER</th>
                                        <th>DATE</th>
                                      </tr>
                                    </thead>
                                    {% for p in posts_inquiry %}
                                    <tbody>
                                      <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a class="table_title" href="{% url 'boards:test_detail' p.id %}">{{ p.title }}</a></td>
                                        <td>{{ p.writer }}</td>
                                        <td>{{ p.date|date:"Y-m-d" }}</td>
                                      </tr>
                                      
                                    </tbody>
                                    {% endfor %}
                                  </table>
                                </div>
                              </div>
                              <!-- Bootstrap Table with Caption -->
                

                            <!-- <table>
                                <thead>
                                    <tr>
                                        <th>NO</th>
                                        <th>TITILE</th>
                                        <th>WRITER</th>
                                        <th>DATE</th>
                                    </tr>
                                </thead>
                                {% for p in posts_inquiry %}
                                    <tbody>
                                        <tr>
                                            <th>{{ forloop.counter }}</th>
                                            <th><a class="table_title" href="{% url 'boards:inquiry_detail' p.id %}">{{ p.title }}</a></th>
                                            <th>{{ p.writer }}</th>
                                            <th>{{ p.date }}</th>
                                        </tr>
                                    </tbody>
                                    {% empty %}
                                    <tbody>
                                        <tr>
                                            <th colspan="4" style="text-align:center">No consultation history.</th>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table> -->
                        </div>
                      </div>
                    </div>
                  </div>                
    </div>

        <div class="btn">
            <a href="/boards/posting/"
            target="_blank"
            class="btn btn-outline-primary"
            style="position: fixed;
            bottom: 7rem;
            right: 1.625rem;
            z-index: 999999;
            box-shadow: 0 1px 20px 1px #696cff;"
            >Posting</a>
        </div>
    </main>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
            
        <!-- <section> close ============================-->
        <!-- ============================================-->
    </main>

    <footer class="footer">
        <section class="py-0 bg-1000">
        
            <div class="container">
            <div class="row justify-content-md-between justify-content-evenly py-3">
                <div class="col-12 col-sm-8 col-md-6 col-lg-auto text-center text-md-start">
                <p class="fs--1 my-2 fw-bold text-200">&copy; 2023 KT AIVLESCHOOL 14</p>
                </div>

            </div>
            </div>
            <!-- end of .container-->

        </section>
    </footer>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    
    




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static "vendors/popper/popper.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/anchorjs/anchor.min.js" %}"></script>
    <script src="{% static "vendors/is/is.min.js" %}"></script>
    <script src="{% static "vendors/fontawesome/all.min.js" %}"></script>
    <script src="{% static "vendors/lodash/lodash.min.js" %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <script src="{% static "vendors/imagesloaded/imagesloaded.pkgd.js" %}"></script>
    <script src="{% static "vendors/gsap/customEase.js" %}"></script>
    <script src="{% static "vendors/gsap/scrollToPlugin.js" %}"></script>
    <!--script(src=`${CWD}vendors/gsap/drawSVGPlugin.js`)-->
    <script src="{% static "assets/js/theme.js" %}"></script>

  </body>

</html>