<!DOCTYPE html>
<!--{% load imtest_tags %}-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello world!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function apic(){
    $.ajax({
    url : "{% url 'apic' %}",
    type : "post",
    }).done(function (data) {
        document.getElementById('stt').innerHTML = data;
    });

}

</script>


</head>

<body>
<a href="/apic" class="button">api 호출 시작 </a>
<br>

<a href="javascript:void(0);" onclick="apic();">페이지 이동 없이 api 호출</a>

</body>
</html>