{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!-- SEO Meta Tags-->
    <meta name="keywords" content="quicky, chat, messenger, conversation, social, communication" />
    <meta name="description" content="저희는 kt aivle school 빅프로젝트~~~~~~~~~~~~~~~~~~~~" />
    <meta name="subject" content="communication">
    <meta name="copyright" content="frontendmatters">
     <meta name="revised" content="Tuesday, November 10th, 2020, 08:00 am" />
    <title>Login</title>
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "/consult/workerschat/apple-touch-icon.png" %}'> 
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "/consult/workerschat/favicon-32x32.png" %}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "/consult/workerschat/favicon-16x16.png" %}'>
    <link rel="shortcut icon" href='{% static "/consult/workerschat/favicon.ico" %}' />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href='{% static "webfonts/inter/inter.css" %}'> 
    <link rel="stylesheet" href='{% static "css/app.min.css" %}'>
</head>

<body class="authentication-page">
    <div class="main-layout card-bg-1">
        <div class="container d-flex flex-column">
            <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
                <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                    <h1 class="font-weight-bold">Login</h1>
                    <p class="text-dark mb-3">KT는 당신과 함께하고 싶습니다.</p>
                    <form method="POST" id="loginForm" name="loginForm" class="mb-3">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email" class="sr-only">Username</label>
                            <div class="input-group">
                                <input type="email" class="form-control form-control-md" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" placeholder="Enter your username" required>
                            </div>
                            <small class='id_info'>* use only letters, numbers and @/./+/-/_ in 50 characters.</small>
                        </div>
                        
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" class="form-control form-control-md" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" placeholder="Enter your password" required>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox-remember" {% if messages %} checked {% endif %}>
                                <label class="custom-control-label text-muted font-size-sm" for="checkbox-remember">Remember me</label>
                            </div>
                            <span class="password-reset"><a href="/accounts/password_reset/">Reset password</a></span>
                        </div>
                        <input type="submit" class="btn btn-primary btn-lg btn-block text-uppercase font-weight-semibold" value="Login" onclick="sendit()">
                    </form>
                    <p>Don't have an account? <a class="font-weight-semibold" href="{% url 'signup' %}">Sign up</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            if (getCookie("username")) {
                document.loginForm.username.value = getCookie("username");
                document.getElementById("checkbox-remember").checked = true;
            }
        }

        function setCookie(name, value, expiredays) {
            var todayDate = new Date();
            todayDate.setDate(todayDate.getDate() + expiredays);
            document.cookie = name + "=" + escape(value) + "; path=/; expires=" + todayDate.toGMTString() + ";"
        }

        function getCookie(Name) {
            var search = Name + "=";
            if (document.cookie.length > 0) {
                offset = document.cookie.indexOf(search);
                if (offset != -1) {
                    offset += search.length;
                    end = document.cookie.indexOf(";", offset);
                    if (end == -1)
                        end = document.cookie.length;
                    return unescape(document.cookie.substring(offset, end));
                }
            }
        }

        function sendit() {
            if (document.getElementById("checkbox-remember").checked) {
                setCookie("username", document.loginForm.username.value, 7);
            } else {
                setCookie("username", document.loginForm.username.value, 0);
            }

            document.loginForm.submit();
        }
    </script>
</body>

</html>

{% endblock %}