usename : {{ request.user.username }} <br>
phone : {{ request.user.phone_number }} <br>
email : {{ request.user.email }} <br>
nation : {{ request.user.nation }} <br>
member_type : {{ request.user.member_type }} <br>
<hr>
<b>고객일 경우</b><br>
- 본인 상담 이력 + 내용 요약 <br>
<hr>
<b>상담사일 경우</b><br>
- 상담 이력 + 내용 요약 <br>
<hr>
<h3>Chat Test</h3>
{% for c in chats %}
    <p>id: {{ c.id }}</p>
    <p>customer: {{ c.customer }}</p>
    <p>counselor: {{ c.counselor }}</p>
    <p>consult_text: {{ c.consult_text }}</p>
    <p>summary: {{ c.summary }}</p>
    <p>consult_date: {{ c.consult_date }}</p>
    <p>satisfaction: {{ c.satisfaction }}</p>
{% endfor %}
<hr>
<h3>Call Test</h3>
{% for c in calls %}
    <p>id: {{ c.id }}</p>
    <p>customer: {{ c.customer }}</p>
    <p>counselor: {{ c.counselor }}</p>
    <p>consult_audio: {{ c.consult_audio }}</p>
    <p>consult_text: {{ c.consult_text }}</p>
    <p>summary: {{ c.summary }}</p>
    <p>consult_date: {{ c.consult_date }}</p>
    <p>satisfaction: {{ c.satisfaction }}</p>
{% endfor %}