{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<style>
    body {
        max-width: 100%;
        margin: 0 auto;
        background-color: #ffffff;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: center;
    } 

    .password_reset-form {
        width: 300px;
        font-family: 'Poppins', sans-serif;
        background-color: #ffffff;
        text-align: center;
    }

    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 70px;
        color: #000000;
        white-space: nowrap;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    form {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="submit"],
    button {
        width: 500px;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    input[type="submit"] {
        background-color: #434343;
        color: #ffffff;
        cursor: pointer;
        margin-top: 20px;
        font-size: 25px;
        font-family: Roboto;
    }

    input[type="submit"]:hover {
        background-color: #717171;
        color: #000000;
    }
    
    button {
        background-color: #434343;
        color: #ffffff;
        cursor: pointer;
        margin-top: 20px;
        font-size: 25px;
        font-family: Roboto;
    }

    button:hover {
        background-color: #717171;
        color: #000000;
    }

    .password_reset-container {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        color: #000000;
        margin-top: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .p1{
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
    }

    .p2{
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        color: #1948A4;
        margin-left: 10px;
        cursor: pointer;
    }

    .p2 a {
        text-decoration: none;
        color: inherit;
    }

    .p2 a:hover {
        color: inherit;
    }

    .errorlist {
        color: red;
    }

</style>
<div class="container">
    <div class="password_reset-form">
        <h1>Password Reset</h1>
        <form method="POST" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {% if form.errors %}
                <ul class="errorlist">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
            <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" placeholder="Enter your email" required>
            <button type="submit">Send Email</button>
        </form>
        <div class="password_reset-container">
            <p class="p1">Already have an account?</p>
            <p class="p2"><a href="/accounts/login/">Login.</a></p>
        </div>
    </div>
</div>

{% endblock %}
